body {
  margin: 0;
  /* 	font-family: 'Playfair Display', serif;*/
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #b42b96;
}

.btn {
  border-radius: 0;
  color: black;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.mt-8 {
  margin-top: 8rem;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

/*TopBar*/
header {
  font-family: 'Work Sans', sans-serif;
}

.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1030;
}

.top-bar {
  color: #495057;
  background: #f8f9fa;
  padding: 0.8rem;
  font-weight: 300;
  font-size: 12px;
}

/*Navbar*/
.navbar {
  -webkit-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
  top: 45px;
}

.sub-menu {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  background: #f8f9fa;
  margin-top: 5px;
  padding: 12px;
  z-index: 9999;
  width: 100%;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
}

.sub-menu ul li {
  display: inline-block;
  border-right: 1px solid darkslategray;
  padding: 0 12px;
}

@media only screen and (max-width: 993px) {
  .navbar {
    color: black;
    background: #fff;
  }
  .sub-menu {
    position: relative;
    border-radius: .2rem;
    border: 1px solid whitesmoke;
    margin-top: 0;
    background: #fff;
    font-size: initial;
  }
  .sub-menu ul {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 0;
    border: none;
    position: static;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    background-clip: padding-box;
    z-index: 1000;
    background: white;
  }
  .sub-menu ul li {
    display: block;
    width: 100%;
    padding: .25rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
}

.sub-menu ul li:first-of-type {
  padding-left: 0;
}

.sub-menu ul li:last-of-type {
  border: none;
}

.sub-menu ul li a:hover {
  text-decoration: none;
}

.navbar-nav li:hover > .sub-menu {
  display: block;
}

.affix {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
  -webkit-transition: padding 0.4s linear;
  transition: padding 0.4s linear;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 0px;
  
}

.bg-hover-white {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b42b96;
  font-weight: 500;
}

.navbar:hover {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background: #fff !important;
  /* padding: 0px; */
  color: #b42b96;
}

.navbar-brand {
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .navbar-airy .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.nav-link > i {
  font-size: 18px;
}

input[type=search] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/*parallax images*/
.h-100vh {
  height: 100vh !important;
}

.light-overlay {
  position: relative;
}

.light-overlay::after {
  content: ' ';
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .3;
  position: absolute;
  left: 0;
  top: 0;
}

.light-overlay-sm {
  position: relative;
}

@media (min-width: 576px) {
  .light-overlay-sm {
    position: relative;
  }
  .light-overlay-sm::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 576px) {
  .light-overlay-sm-0::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl-0::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl {
    position: relative;
  }
  .light-overlay-xl::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.light-overlay-lg {
  position: relative;
}

@media (min-width: 992px) {
  .light-overlay-lg-0::after {
    display: none;
  }
}

@media (min-width: 992px) {
  .light-overlay-lg {
    position: relative;
  }
  .light-overlay-lg::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.light-overlay-md {
  position: relative;
}

@media (min-width: 768px) {
  .light-overlay-md {
    position: relative;
  }
  .light-overlay-md::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .light-overlay-md-0::after {
    display: none;
  }
}

.overlay-content {
  position: relative;
  z-index: 20;
}

.overflow-hidden {
  overflow: hidden !important;
}

@media (max-width: 767.98px) {
  .display-1 {
    font-size: 3.6rem;
  }
  .display-2 {
    font-size: 3.3rem;
  }
  .display-3 {
    font-size: 2.7rem;
  }
  .display-4 {
    font-size: 2.1rem;
  }
}

/*footer section*/
.bg-light-gray {
  background-color: #f8f9fa;
}

.service-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.service-icon {
  margin-right: 1.5rem;
}

@media (min-width: 992px) {
  .service-column {
    border-right: 1px solid #495057;
    text-align: left;
    padding: 0;
  }
  .service-column:last-of-type {
    border: none;
  }
}

.services > h6 {
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.services > p {
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.bg-gray {
  background-color: #dee2e6;
}

/* Contact Page */
.breadcrumb {
  background: none;
}

.form-label {
  color: #868e96;
  font-size: .7875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #b42b96;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.important-field {
  color: red;
}

i:hover {
  color: #b42b96;
}

.fa-facebook-f {
  color: #3C5A99;
  font-size: 20px;
}

.fa-google-plus-g {
  color: #DB4437;
  font-size: 20px;
}

.blue-text {
  color: #b42b96;
}

.z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(192, 55, 255, 0.274), 0 4px 12px 0 rgba(180, 24, 219, 0.25);
  box-shadow: 0 2px 5px 0 rgba(192, 55, 255, 0.274), 0 4px 12px 0 rgba(180, 24, 219, 0.25);
}

/* Geolocation by html 5 */
#map {
  height: 100%;
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #b42b96;
  border: solid 1px #343a40;
  text-align: center;
  background: #fff;
  font-size: .8rem;
  z-index: 999;
  cursor: pointer;
}

.carousel-inner .carousel-item img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-chevron-left, .fa-chevron-right {
  color: white;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
  color: black;
}
/*# sourceMappingURL=creative.css.map */