body {
  margin: 0;
  /* 	font-family: 'Playfair Display', serif;*/
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #b42b96;
}

.btn {
  border-radius: 0;
  color: black;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.mt-8 {
  margin-top: 8rem;
}

.letter-spacing-5 {
  letter-spacing: 5px;
}

/*TopBar*/
header {
  font-family: 'Work Sans', sans-serif;
}

.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1030;
}

.top-bar {
  color: #495057;
  background: #f8f9fa;
  padding: 0.8rem;
  font-weight: 300;
  font-size: 12px;
}

/*Navbar*/
.navbar {
  -webkit-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
  top: 45px;
}

.sub-menu {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: absolute;
  background: #f8f9fa;
  margin-top: 5px;
  padding: 12px;
  z-index: 9999;
  width: 100%;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
}

.sub-menu ul li {
  display: inline-block;
  border-right: 1px solid darkslategray;
  padding: 0 12px;
}

@media only screen and (max-width: 993px) {
  .navbar {
    color: black;
    background: #fff;
  }
  .sub-menu {
    position: relative;
    border-radius: .2rem;
    border: 1px solid whitesmoke;
    margin-top: 0;
    background: #fff;
    font-size: initial;
  }
  .sub-menu ul {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 0;
    border: none;
    position: static;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    background-clip: padding-box;
    z-index: 1000;
    background: white;
  }
  .sub-menu ul li {
    display: block;
    width: 100%;
    padding: .25rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
}

.sub-menu ul li:first-of-type {
  padding-left: 0;
}

.sub-menu ul li:last-of-type {
  border: none;
}

.sub-menu ul li a:hover {
  text-decoration: none;
}

.navbar-nav li:hover > .sub-menu {
  display: block;
}

.affix {
  padding-top: 0.3em !important;
  padding-bottom: 0.3em !important;
  -webkit-transition: padding 0.4s linear;
  transition: padding 0.4s linear;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  top: 0px;
  color: black;
}

.bg-hover-white {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b42b96;
  font-weight: 500;
}

.navbar:hover {
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background: #fff !important;
  /* padding: 0px; */
  color: #b42b96;
}

.navbar-brand {
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .navbar-airy .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.nav-link > i {
  font-size: 18px;
}

input[type=search] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/*parallax images*/
.h-100vh {
  height: 100vh !important;
}

.light-overlay {
  position: relative;
}

.light-overlay::after {
  content: ' ';
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .3;
  position: absolute;
  left: 0;
  top: 0;
}

.light-overlay-sm {
  position: relative;
}

@media (min-width: 576px) {
  .light-overlay-sm {
    position: relative;
  }
  .light-overlay-sm::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 576px) {
  .light-overlay-sm-0::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl-0::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .light-overlay-xl {
    position: relative;
  }
  .light-overlay-xl::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.light-overlay-lg {
  position: relative;
}

@media (min-width: 992px) {
  .light-overlay-lg-0::after {
    display: none;
  }
}

@media (min-width: 992px) {
  .light-overlay-lg {
    position: relative;
  }
  .light-overlay-lg::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.light-overlay-md {
  position: relative;
}

@media (min-width: 768px) {
  .light-overlay-md {
    position: relative;
  }
  .light-overlay-md::after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .3;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .light-overlay-md-0::after {
    display: none;
  }
}

.overlay-content {
  position: relative;
  z-index: 20;
}

.overflow-hidden {
  overflow: hidden !important;
}

@media (max-width: 767.98px) {
  .display-1 {
    font-size: 3.6rem;
  }
  .display-2 {
    font-size: 3.3rem;
  }
  .display-3 {
    font-size: 2.7rem;
  }
  .display-4 {
    font-size: 2.1rem;
  }
}

/*footer section*/
.bg-light-gray {
  background-color: #f8f9fa;
}

.service-column {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.service-icon {
  margin-right: 1.5rem;
}

@media (min-width: 992px) {
  .service-column {
    border-right: 1px solid #495057;
    text-align: left;
    padding: 0;
  }
  .service-column:last-of-type {
    border: none;
  }
}

.services > h6 {
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.services > p {
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.bg-gray {
  background-color: #dee2e6;
}

/* Contact Page */
.breadcrumb {
  background: none;
}

.form-label {
  color: #868e96;
  font-size: .7875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: #b42b96;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.important-field {
  color: red;
}

i:hover {
  color: #b42b96;
}

.fa-facebook-f {
  color: #3C5A99;
  font-size: 20px;
}

.fa-google-plus-g {
  color: #DB4437;
  font-size: 20px;
}

.blue-text {
  color: #b42b96;
}

.z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(192, 55, 255, 0.274), 0 4px 12px 0 rgba(180, 24, 219, 0.25);
  box-shadow: 0 2px 5px 0 rgba(192, 55, 255, 0.274), 0 4px 12px 0 rgba(180, 24, 219, 0.25);
}

.field-icon {
  float: right;
  margin-right: 5px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* Geolocation by html 5 */
#map {
  height: 100%;
}

#scrollTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #b42b96;
  border: solid 1px #343a40;
  text-align: center;
  background: #fff;
  font-size: .8rem;
  z-index: 999;
  cursor: pointer;
}

.fa-chevron-left, .fa-chevron-right {
  color: black;
}

.fa-chevron-left, .fa-chevron-right:hover {
  color: black;
}

@media (max-width: 992px) {
  .carousel-inner {
    margin-top: 100px;
  }
}

.bg-img-1 {
  background: url(../img/10.jpg) no-repeat center;
  background-size: cover;
}

.bg-img-2 {
  background: url(../img/15.jpg) no-repeat center;
  background-size: cover;
}

.bg-img-3 {
  background: url(../img/14.jpg) no-repeat center;
  background-size: cover;
}

.multiply {
  mix-blend-mode: multiply;
}

.block {
  position: relative;
}

.block .block-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-fluid {
  -o-object-fit: cover;
     object-fit: cover;
}

.product-slider .item img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .product-slider .item img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.product-hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.92);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-image {
  position: relative;
  border-bottom: 2px solid #495057;
}

.product-image:hover {
  border-bottom: 2px solid #9a6ee2;
}

.product-image:hover .product-hover-overlay {
  opacity: 1;
}

.product-image:hover .btn {
  -webkit-transform: none !important;
  transform: none !important;
  opacity: 1 !important;
}

.product-hover-overlay .product-hover-overlay-buttons {
  z-index: 3;
}

.product-hover-overlay .btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-hover-overlay .btn.btn-buy {
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.product-hover-overlay .product-hover-overlay-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.m-img-1 {
  background: url(../img/m6.jpg) no-repeat center;
  background-size: cover;
}

.m-img-2 {
  background: url(../img/m7.jpg) no-repeat center;
  background-size: cover;
}

.m-img-3 {
  background: url(../img/m4.jpg) no-repeat center;
  background-size: cover;
}

.category-list ul li {
  display: block;
  padding: 0 10px;
  text-align: left;
}

label {
  cursor: pointer;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid  #868e96;
  -webkit-transition: background-color 0.15s ease-in-out,border 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out,border 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out,border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out,border 0.15s ease-in-out, box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.styled-checkbox:hover + label:before {
  background: black;
}

.styled-checkbox:checked + label:before {
  background: black;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 8px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.noUi-connect {
  background: #222;
}

.nouislider-values {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  color: #868e96;
  font-size: .7875rem;
}

.noUi-target {
  background: #ddd;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 3px;
}

.noUi-horizontal .noUi-handle {
  width: 3px;
  height: 14px;
  left: 0;
  right: -2px !important;
  top: -5px;
  background: #222 !important;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
  display: none;
}

.noUi-connect {
  background: #222;
}

.colours-wrapper {
  position: relative;
}

.btn-colour {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-bottom: 0;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 5px #fff,0 0 0 1px #ced4da;
          box-shadow: inset 0 0 0 5px #fff,0 0 0 1px #ced4da;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  -webkit-transition: border-color .1s;
  transition: border-color .1s;
}

.btn-colour:hover {
  -webkit-box-shadow: inset 0 0 0 5px #fff,0 0 0 1px #868e96;
          box-shadow: inset 0 0 0 5px #fff,0 0 0 1px #868e96;
}

.btn-colour.active {
  -webkit-box-shadow: inset 0 0 0 5px #fff,0 0 0 2px #495057;
          box-shadow: inset 0 0 0 5px #fff,0 0 0 2px #495057;
}

.input-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.custom-select {
  border-radius: 0;
}

.custom-select:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 2, 2, 0.1);
          box-shadow: 0 0 0 0.2rem rgba(2, 2, 2, 0.1);
}
/*# sourceMappingURL=creative.css.map */